.modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: pink; /* Fallback color */
}
.modal-header{
    /* display: inline-flex; */
}
.modal-header, button{
    /* float: right; */
    top: 0;
    right: 0;
}
