.wordbank-container{
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
}


.wordbank-container, h1{
    text-align: center;
    color: #FA95E4;
}

table {
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;
}
table,
td,
th {
  /* border-collapse: collapse; */
}
th,
td {
    border: 1px solid #666;
    width: 90px;
    overflow: hidden;
    padding: 1rem;
}
td{
    width: 23vw;
    color: rgb(200, 200, 200);
}

/* HEADER */
.header th  {
    color: #453e43;
    font-weight: 900;
    font-size: 1.2rem;
}
.header{
    background-color: lightblue;
    border-color: white;
}

/* TABLE CELLS */
.wordInfo{
    text-align: left;
    padding-left: 23px;
}
.guess{
    color: yellow;
    padding-left: 8rem;
}
.wordInfo span{
    cursor: pointer;
}
.wordInfo span:hover{
    color: rgb(255, 181, 194);
    font-weight: bold;
}