.wordbank-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
}

/* 

.wordbank-container table, th, td{
    border: 1px solid;
}

.wordbank-container, table{
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.wordbank-container th,
.wordbank-container td {
    padding: 1vw 2vw;
} */
/* Data rows */
/* .word{
    padding: 0.5rem;
    width: 83%;
}
.wordInfo{
    padding: 0.5rem;
    
} */

.wordbank-container, h1{
    text-align: center;
}
table {
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;

}
table,
td,
th {
  border-collapse: collapse;
}

th,
td {
    border: 1px solid #666;
    width: 90px;
    overflow: hidden;
    padding: 1rem;
}
td{
    width: 23.5vw;
}



.header{
    background-color: lightblue;
    border-color: white;
}
.wordInfo span{
    cursor: pointer;
}
.wordInfo span:hover{
    color: pink;
}