.wordbank-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
}

.wordInfo{
    text-align: left;
}
.wordbank-container, h1{
    text-align: center;
    color: #FA95E4;
}
.header th  {
    color: #453e43;
    font-weight: 900;
    font-size: 1.2rem;
}
table {
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;
}
table,
td,
th {
  border-collapse: collapse;
}

th,
td {
    border: 1px solid #666;
    width: 90px;
    overflow: hidden;
    padding: 1rem;
}
td{
    width: 23.5vw;
    color: rgb(200, 200, 200);
}



.header{
    background-color: lightblue;
    border-color: white;
}
.wordInfo span{
    cursor: pointer;
}
.wordInfo span:hover{
    color: pink;
}